{
    "tabWidth": 2,
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "printWidth": 120,
    "bracketSameLine": true
  }