@font-face{
	font-family: 'Circular';
	src: url('./Circular.ttf');
}

body{
	font-family: 'Circular';
}

progress {
	height: 4px;
	border-radius: 3px; 
}

progress::-webkit-progress-bar {
	background-color: rgba( 0, 0, 0, 0.18 );
	border-radius: 7px;
}

progress::-webkit-progress-value {
	background-color: #2d69e8;
	border-radius: 2px;
}

progress::-moz-progress-bar {
	/* style rules */
}


*::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba( 0, 0, 0, 0.15 ) ;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid white;  /* creates padding around scroll thumb */
}



/* Reach UI Modal */

:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
	background: hsla(0, 0%, 0%, 0.33);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	z-index: 40;
}

[data-reach-dialog-content] {
	width: 75vw;
	margin: 10vh auto;
	background: white;
	padding: 2rem;
	outline: none;
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

